{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login form">
    <header>Login</header>
    <form method="POST" action="{{url_for('auth.login')}}">
      {% if errors and errors.email %}
        <span class="input-error">{{ errors.email[0] }}</span>
      {% endif %}
      {{ form.email(placeholder="Enter your email", style=errors and errors.email and 'border: red 1px solid') | safe }}
      {% if errors and errors.password %}
        <span class="input-error">{{ errors.password[0] }}</span>
      {% endif %}
      {{ form.password(placeholder="Enter your password", style=errors and errors.password and 'border: red 1px solid') | safe }}
      <a href="#">Forgot password?</a>
      <input type="submit" class="button" value="Login">
    </form>
    <div class="signup">
      <span class="signup">Don't have an account?
       <a href="{{url_for('home.registerForm')}}">Signup</label>
      </span>
    </div>
</div>
{% endblock %}