{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="registration form">
    <header>Signup</header>
    <form action="#">
      <input type="text" placeholder="Enter your email">
      <input type="password" placeholder="Create a password">
      <input type="password" placeholder="Confirm your password">
      <input type="button" class="button" value="Signup">
    </form>
    <div class="signup">
      <span class="signup">Already have an account?
       <a href="{{url_for('home.loginForm')}}">Login</label>
      </span>
    </div>
</div>
{% endblock %}